var showGPA = function (schools) {
  for (var i = 0; i < schools.length; i++) {
    var school = schools[i];
    if (school.degree.toUpperCase() == "BACHELOR") {
      return school.gpa;
    }
  }

  return schools[0].gpa;
}


var showExamination = function (list) {
  var tempL = list.map(function (a) { return a.total });

  var a = tempL[0];
  for (var i = 0; i <= tempL.length - 2; i++) {
    if (a < tempL[i + 1]) {
      a = tempL[i + 1];
    }
  }

  return isNaN() ? list[0].total : a;

  // return isNaN(Math.max.apply(Math, list.map(function (a) { return a.total }))) ? list[0].total : Math.max.apply(Math, list.map(function (f) { return f.total }));
}


var qsWorldShow = function (value) {
  if (value.theirProfessional == 0) {
    return ""
  } else {
    return value.theirProfessional;
  }
}

var changeSeason = function (value) {
  if (value == "SPRING") {
    return "春季";
  }

  if (value == "AUTUMN") {
    return "秋季";
  }

  if (value == "SUMMER") {
    return "夏季";
  }

  if (value == "WINTER") {
    return "冬季";
  }
}

var changeDegree = function (value) {
  if (value == "BACHELOR") {
    return "本科";
  }

  if (value == "MASTER") {
    return "硕士";
  }

  if (value == "PHD") {
    return "博士";
  }

  if (value == "HIGHSCHOOL") {
    return "高中";
  }
}

module.exports = {
  showGPA: showGPA,
  showExamination: showExamination,
  qsWorldShow: qsWorldShow,
  changeSeason: changeSeason,
  changeDegree: changeDegree,
};