var showGPA = function (schools) {
  for (var i = 0; i < schools.length; i++) {
    var school = schools[i];
    if (school.degree.toUpperCase() == "BACHELOR") {
      return school.gpa;
    }
  }

  return schools[0].gpa;
}


var showExamination = function (list) {
  var tempL = list.map(function (a) { return a.total });

  var a = tempL[0];
  for (var i = 0; i <= tempL.length - 2; i++) {
    if (a < tempL[i + 1]) {
      a = tempL[i + 1];
    }
  }

  return isNaN() ? list[0].total : a;

  // return isNaN(Math.max.apply(Math, list.map(function (a) { return a.total }))) ? list[0].total : Math.max.apply(Math, list.map(function (f) { return f.total }));
}


var qsWorldShow = function (value) {
  if (value.theirProfessional == 0) {
    return ""
  } else {
    return value.theirProfessional;
  }
}

formateTime = function (unixtime) {
  var date = new Date(unixtime);
  var y = date.getFullYear();
  var m = date.getMonth() + 1;
  m = m < 10 ? ('0' + m) : m;
  var d = date.getDate();
  d = d < 10 ? ('0' + d) : d;
  var h = date.getHours();
  h = h < 10 ? ('0' + h) : h;
  var minute = date.getMinutes();
  var second = date.getSeconds();
  minute = minute < 10 ? ('0' + minute) : minute;
  second = second < 10 ? ('0' + second) : second;
  // return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;//年月日时分秒
  return y + '-' + m + '-' + d + ' ' + h + ':' + minute;

}

module.exports = {
  showGPA: showGPA,
  showExamination: showExamination,
  qsWorldShow: qsWorldShow,
  formateTime: formateTime
};